<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><strong>Latest Mars News</strong></h2>
        <h4 class="heading">{{mission['News Title']}}</h4>
        <p>{{mission['News Para.']}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h2><strong>Featured Mars Image</strong></h2>
        <img src="{{mission['Featured Image URL']}}" width:='575' height='375' class="rounded float-left"
          alt="Featured Image" />
      </div>
      <div class="col-md-5">
        <h4><strong>Mars Facts</strong></h4>
        {{mission['Mars Table'] | safe}}
      </div>
    </div>

    <div class="row">
      <h2 class="text-center"> <strong>Mars Hemispheres</strong></h2>
      <hr>

      <div class="row">
        <div class="col-md-6">
        <div class="card text-white text-center bg-dark mb-3" style="width: 40rem;">
          <img src="{{mission.Hemispheres[0].ImageURL}}" width:='486' height='380' class="card-img-top" alt="Hemispheres">
          <div class="card-body">
            <h5 class="card-title"><strong>{{mission.Hemispheres[0].Title}}</strong></h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card text-white text-center bg-dark mb-3" style="width: 40rem;">
          <img src="{{mission.Hemispheres[1].ImageURL}}" width:='486' height='380' class="card-img-top" alt="Hemispheres">
          <div class="card-body">
            <h5 class="card-title"><strong>{{mission.Hemispheres[1].Title}}</strong></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <div class="card text-white text-center bg-dark mb-3" style="width: 40rem;">
        <img src="{{mission.Hemispheres[2].ImageURL}}" width:='486' height='380' class="card-img-top" alt="Hemispheres">
        <div class="card-body">
          <h5 class="card-title"><strong>{{mission.Hemispheres[2].Title}}</strong></h5>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-white text-center bg-dark mb-3" style="width: 40rem;">
        <img src="{{mission.Hemispheres[3].ImageURL}}" width:='486' height='380' class="card-img-top" alt="Hemispheres">
        <div class="card-body">
          <h5 class="card-title"><strong>{{mission.Hemispheres[3].Title}}</strong></h5>
        </div>
      </div>
    </div>
  </div>

  </div>
  ​
  </div>

  </div>
</body>

</html>