<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><strong>Latest Mars News</strong></h2>
        <h4 class="heading">{{mission.news_title}}</h4>
        <p>{{mission.news_p}}</p>
      </div>
    </div>

    <div class = "row">
        <div class="col-md-8">
            <h2><strong>Featured Mars Image</strong></h2>
            <img src = {{mission.featured_image_url}}>
        </div>
        <div class="col-md-4">
            <h4><strong>Mars Facts</strong></h4>
            <p>{{mission.html_table}}</p>
        </div>
    </div>

    <div class = "row">
      <div class="col-md-12">
          <h2><strong><center>Mars Hemispheres</center></strong></h2>
          <hr>  
      </div>
    </div>

    <div class = "row">
      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img src= {{mission.hemi_list}} class="card-img-top" alt= {{mission.hemi_list}}>
          <div class="card-body">
            <h5 class="card-title"><strong>Card title</strong></h5>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Card title2</strong></h5>
            </div>
          </div>  
        </div>
    </div>

    <div class = "row">
      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Card title3</strong></h5>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Card title4</strong></h5>
            </div>
          </div>  
        </div>
    </div>

  </div>
</body>

</html>